:root {
	/* Colors */
	--color-primary: #b5838d;
	--color-secondary: #e5989b;
	--dark-variation: #6d6875;
	--color-variation: #ffb4a2;
	--soft-variation: #ffcdb2;
	--just-white: #FFF;
	--soft-white: bisque;
	--just-grey: #C7C7C7;
	--warm-black: #282623;
	--just-black: #000;
	--text-input-field: #F7F7F7;
	--hospital-green: #ACD9B2;
	/* --color-primary: #8C2F39;
			--color-primary: rgb(152 59 69);
			--color-variation: rgb(247 218 174);
			--color-secondary: rgb(243 238 228);
			--dark-variation: rgb(134 146 159);
			--color3: rgb(34 32 33); */

	/* Fonts */
	--title-h1: 36rem;
	--title-h2: 32rem;
	--title-h3: 28rem;
	--title-h4: 26rem;
	--title-h5: 24rem;
	--title-h6: 22rem;
	--paragraphs: 16rem;

	--sm: 14px;
	--md: 16px;
	--lg: 18px;

	--fontMain: "Kaushan Script", cursive;
	--fontSecondary: "Poppins", sans-serif;
	--fontAlternative: 'Quicksand', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 6.25%;
}

body {
	width: 100vw;
	height: auto;
	font-family: var(--fontMain);
}

@media (min-width: 375px) {
	:root {
		/* Fonts-sizes */
		--title-h1: 40rem;
		--title-h2: 28rem;
		--title-h3: 26rem;
		--title-h4: 24rem;
		--title-h5: 22rem;
		--title-h6: 20rem;
		--paragraphs: 16rem;
		--lineS-p: 20rem;
		--lineS-h: 34rem;
	}
}

@media (min-width: 768px) {
	header>a {
		font-size: var(--title-h2);
	}

	header img {
		height: 15vh;
	}
}

@media (min-width: 1024px) {
	header {
		padding-left: 20px;
		justify-content: left;
	}
}
